<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="col-md-6">
    <div class="d-flex">
      <h1><%= @article.title %></h1>
      <%= link_to @article, method: :delete,
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-regular fa-trash-can fa-lg ms-2"></i>
      <% end %>
    </div>
    <p><%= @article.content %></p>
    <div class="d-flex justify-content-start mb-3">
      <%= link_to 'Back to list', articles_path, class: 'btn btn-outline-secondary me-2' %>
      <%= link_to 'Edit article', edit_article_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
